venv/
__pycache__/
*.pyc
.env

env311/

backend/uploads/panels/*
backend/uploads/rows/*
!backend/uploads/panels/.gitkeep
!backend/uploads/rows/.gitkeep

frontend/pictures/*
!frontend/pictures/.gitkeep